<!-- <app-header (featureSelected)="onNavigate($event)"></app-header>  -->
<!--featureSelected comes from header.component... we dont need it now though, onNavigate comes from app.component-->
<app-header></app-header> 
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list> -->
      <router-outlet></router-outlet> <!--shows angular where the router should render the component we should load depending on the path we are at-->
    </div>
  </div>
</div>